{{ if eq .chezmoi.os "darwin" -}}
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
{{- end }}

[core]
	editor = "vim"

[user]
	email = "{{ .email }}"
	name = "{{ .name }}"
{{ if eq .chezmoi.os "darwin" -}}
	signingkey = "{{ .signingkey }}"
{{- end }}

[include]
	path = ~/.config/git/commands.inc
