[gpg]
	format = ssh

{{ if eq .chezmoi.os "darwin" -}}
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
{{- end }}

[core]
	editor = "vim"

[user]
	email = "{{ .email }}"
	name = "{{ .name }}"

[include]
	path = ~/.config/git/user.inc
	path = ~/.config/git/commands.inc
