{{ if eq .chezmoi.os "darwin" -}}
# Set PATH, MANPATH, etc., for Homebrew.
eval "$(/usr/local/bin/brew shellenv)"

# 1password Socket
export SSH_AUTH_SOCK=~/Library/Group\ Containers/2BUA8C4S2C.com.1password/t/agent.sock

# Logging into 1password
export OP_ACCOUNT="my.1password.com"
eval "$(op signin)"

export GITHUB_TOKEN="{{ .githubToken }}"
{{- end }}

alias vim="nvim"
alias vi="nvim"

alias ls=eza
alias cat=bat
